<a href="https://colab.research.google.com/github/neha702/Collaborative-shopping-Team-Achievers-/blob/main/User_user_based_Collaborative_filtering_recommendation_engine_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**User-user based collaborative filtering recommendation system**

For this challenge,we have prepared a user-user based collaborative filtering recommendation system for shopping that will provide us the top similar users to a particular user and the recommended items to that user other than what he/she has liked which will help in promortion of more and more items that it has not chosen before but may like now.

**Data preprocessing**

In [187]:
#Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [188]:
#Data outlook
data =pd.read_csv('/content/Project survey (Responses).csv')
data.head(15)

            Timestamp  ... For females: [Tops]
0   4/4/2021 15:40:01  ...                 1.0
1   4/4/2021 15:48:59  ...                 NaN
2   4/4/2021 15:57:04  ...                 NaN
3   4/4/2021 16:10:51  ...                 NaN
4   4/4/2021 16:24:48  ...                 NaN
5   4/4/2021 17:00:09  ...                 NaN
6   4/4/2021 17:14:00  ...                 1.0
7   4/4/2021 17:14:13  ...                 NaN
8   4/4/2021 17:34:19  ...                 1.0
9   4/4/2021 17:41:48  ...                 1.0
10  4/4/2021 17:45:03  ...                 NaN
11  4/4/2021 20:12:46  ...                 NaN
12   4/5/2021 8:09:10  ...                 1.0
13   4/5/2021 8:22:50  ...                 NaN
14   4/5/2021 8:23:27  ...                 1.0

[15 rows x 11 columns]

In [189]:
#Timestamp column is of no use to us, so we will drop it
data.drop(['Timestamp'],inplace=True,axis=1)

In [190]:
#Renaming the columns
data.columns=['Users','Gender','Formal Shirts','Jackets','Casual shirts','Jeans','Skirts','Kurtis',
               'Trousers','Tops']

In [191]:
#Check for missing data in items columns and fill it with 0.
data.isnull().sum()
data=data.fillna(0)
data.isnull().sum()

Users            0
Gender           0
Formal Shirts    0
Jackets          0
Casual shirts    0
Jeans            0
Skirts           0
Kurtis           0
Trousers         0
Tops             0
dtype: int64

In [192]:
#Data overlook after preprocessing
data.head(15)

                   Users  Gender  Formal Shirts  ...  Kurtis  Trousers  Tops
0               Neha Das  Female            0.0  ...     1.0       0.0   1.0
1            Vinayak raj    Male            0.0  ...     0.0       0.0   0.0
2         Prapti parasar  Female            0.0  ...     0.0       1.0   0.0
3    Tarpan Bhattacharya    Male            1.0  ...     0.0       0.0   0.0
4                   Ryan    Male            0.0  ...     0.0       0.0   0.0
5          Aritra Mondal    Male            0.0  ...     0.0       0.0   0.0
6          Sparsh Mehta     Male            1.0  ...     1.0       1.0   1.0
7          Rishabh Anand    Male            0.0  ...     0.0       0.0   0.0
8           Tarishi Jain  Female            0.0  ...     0.0       1.0   1.0
9      Prerna Bhendarkar  Female            0.0  ...     1.0       1.0   1.0
10          Sakshat Jain    Male            0.0  ...     0.0       0.0   0.0
11  Nayan Jyoti Bordoloi    Male            1.0  ...     0.0       0.0   0.0
12         Monalisa Nath  Female            0.0  ...     0.0       1.0   1.0
13       Ramchandra Nath    Male            1.0  ...     0.0       0.0   0.0
14         Jugami Brahma  Female            0.0  ...     1.0       1.0   1.0

[15 rows x 10 columns]

In [193]:
#Function to find relationship(similarity) between two users using pearson correlation coefficient.
def weight_factor(x, y): 
    t1, t2, t3 = 0, 0, 0 
    for i, j in zip(x, y):
        t1+=i*j
        t2+=i*i
        t3+=j*j
    return t1/(np.sqrt(t2) * np.sqrt(t3))

In [194]:
#First one is active user (Neha Das),we find similarity with other users
import numpy as np
x = data.iloc[0,2:]
similarity = np.array([(data.iloc[i,0],weight_factor(x,data.iloc[i, 2:])) for i in range(1,data.shape[0],1)])
similarity

array([['Vinayak raj', '0.0'],
       ['Prapti parasar', '0.0'],
       ['Tarpan Bhattacharya', '0.0'],
       ['Ryan', '0.0'],
       ['Aritra Mondal', '0.0'],
       ['Sparsh Mehta ', '0.5773502691896258'],
       ['Rishabh Anand', '0.0'],
       ['Tarishi Jain', '0.4999999999999999'],
       ['Prerna Bhendarkar', '0.7071067811865475'],
       ['Sakshat Jain', '0.0'],
       ['Nayan Jyoti Bordoloi', '0.0'],
       ['Monalisa Nath', '0.40824829046386296'],
       ['Ramchandra Nath', '0.0'],
       ['Jugami Brahma', '0.6324555320336759'],
       ['Chinmayee Ray', '0.0'],
       ['Rituparna Rajbongshi ', '0.7071067811865475'],
       ['Maria Basumatary', '0.7071067811865475'],
       ['Jayashree Devi', '0.4999999999999999'],
       ['Rupshikha Devi ', '0.7071067811865475'],
       ['Puja Bhendarkar', '0.40824829046386296'],
       ['Mandira Sharma', '0.4999999999999999'],
       ['Baby Devi Nath', '0.7071067811865475'],
       ['Bhabna Borah ', '0.8164965809277259'],
       ['Munu chamuah', '0.4999999999999999'],
       ['P. Choudhury ', '0.4999999999999999'],
       ['Kasturi Talukdar ', '0.5345224838248487'],
       ['Amartya Choudhury', '0.0'],
       ['Dr. PURNANANDA KHAUND ', '0.0'],
       ['Atindra Das', '0.0'],
       ['Nivedita Basumatary', '0.7071067811865475'],
       ['Chandni brahma ', '0.0'],
       ['Kirtika Changkakoti ', '0.4999999999999999'],
       ['Himashree Barman ', '0.9999999999999998'],
       ['Sanghamitra Dutt', '0.4999999999999999'],
       ['Dr Bijit Nath', '0.4999999999999999']], dtype='<U22')

**Sorting neighbours based on similarity weights**

In [195]:
ind = np.argsort( similarity[:,1] )
similarity = similarity[ind]
similarity

array([['Vinayak raj', '0.0'],
       ['Amartya Choudhury', '0.0'],
       ['Chinmayee Ray', '0.0'],
       ['Dr. PURNANANDA KHAUND ', '0.0'],
       ['Ramchandra Nath', '0.0'],
       ['Nayan Jyoti Bordoloi', '0.0'],
       ['Atindra Das', '0.0'],
       ['Sakshat Jain', '0.0'],
       ['Rishabh Anand', '0.0'],
       ['Aritra Mondal', '0.0'],
       ['Ryan', '0.0'],
       ['Tarpan Bhattacharya', '0.0'],
       ['Prapti parasar', '0.0'],
       ['Chandni brahma ', '0.0'],
       ['Monalisa Nath', '0.40824829046386296'],
       ['Puja Bhendarkar', '0.40824829046386296'],
       ['Mandira Sharma', '0.4999999999999999'],
       ['Kirtika Changkakoti ', '0.4999999999999999'],
       ['P. Choudhury ', '0.4999999999999999'],
       ['Munu chamuah', '0.4999999999999999'],
       ['Jayashree Devi', '0.4999999999999999'],
       ['Sanghamitra Dutt', '0.4999999999999999'],
       ['Tarishi Jain', '0.4999999999999999'],
       ['Dr Bijit Nath', '0.4999999999999999'],
       ['Kasturi Talukdar ', '0.5345224838248487'],
       ['Sparsh Mehta ', '0.5773502691896258'],
       ['Jugami Brahma', '0.6324555320336759'],
       ['Baby Devi Nath', '0.7071067811865475'],
       ['Maria Basumatary', '0.7071067811865475'],
       ['Rituparna Rajbongshi ', '0.7071067811865475'],
       ['Prerna Bhendarkar', '0.7071067811865475'],
       ['Nivedita Basumatary', '0.7071067811865475'],
       ['Rupshikha Devi ', '0.7071067811865475'],
       ['Bhabna Borah ', '0.8164965809277259'],
       ['Himashree Barman ', '0.9999999999999998']], dtype='<U22')

**Neigbours based on threshold(Similarity matrix)**

In [196]:
#Sorting the weights in descending order giving us the top neighbours first.
index= np.argsort( similarity[:,1] )
index=index[::-1]
similarity=similarity[index]

In [197]:
#We will be taking neighbours having similarity value(weights) more than 0.5
neighbours = similarity[similarity[:,1].astype(float) > 0.5]

In [198]:
#Printing the top 10 neighbours of any user( taking here Neha Das)
print('Suggested friends for Neha Das are(based on your choices):')
if (len(neighbours)>10):
   for i in range(0,10,1):  #Top 10 neighbours
       print(neighbours[i][0])   
else:
    for i in range(len(neighbours)):
       print(neighbours[i][0])

Suggested friends for Neha Das are(based on your choices):
Himashree Barman
Bhabna Borah
Rupshikha Devi
Nivedita Basumatary
Prerna Bhendarkar
Rituparna Rajbongshi
Maria Basumatary
Baby Devi Nath
Jugami Brahma
Sparsh Mehta

In [199]:
# Function to find top neighbours with threshold 0.6
def Top_Neighbours(user):
    list=[]
    x = data.iloc[data.loc[data.Users == user].index[0],2:]
    similar = np.array([(data.iloc[i,0],weight_factor(x,data.iloc[i, 2:])) for i in range(0,data.shape[0],1)])
    index= np.argsort( similar[:,1] )
    index=index[::-1]
    similar=similar[index] 
    neighbours = similar[similar[:,1].astype(float) > 0.6]
    if (len(neighbours)>10):
       for i in range(0,10,1):  #Top 10 neighbours
           list.append(neighbours[i][0])
    else:
       for i in range(len(neighbours)):
            list.append(neighbours[i][0])
    if user in list: #Remove the user of which we are asked to find neighbours,each user is always strongly correlated with itself and its of no use to us.
       list.remove(user)
    return list

In [200]:
#Function to find the items recommended to a user based on the similarity values(its based on fact that only items not chosen by the user but chosen by other similar users will be shown)
def recommended_items(user):
    list=[]
    x = data.iloc[data.loc[data.Users == user].index[0],2:]
    similar = np.array([(data.iloc[i,0],weight_factor(x,data.iloc[i, 2:])) for i in range(0,data.shape[0],1)])
    index= np.argsort( similar[:,1] )
    index=index[::-1]
    similar=similar[index] 
    neighbours = similar[similar[:,1].astype(float) > 0.6]  #Taking threshold as 0.6
    for i in range(0,len(neighbours),1):
        for j in range(2,len(data.columns),1):
            if data.iloc[data.loc[data.Users == neighbours[i][0]].index[0],j]==1 and data.iloc[data.loc[data.Users == user].index[0],j]==0:
               list.append(data.columns[j])
    return list

In [201]:
#Displaying the top neighbours and  recommended items to a user.
user = input("Enter the user name: ")
predicted_list=[]
Top_neighbours=[]
Top_neighbours=Top_Neighbours(user)
predicted_list= recommended_items(user)
recommended_list=np.unique(np.array(predicted_list))
print(" ")
print("Top users similar to this user are:")
print(" ")
for i in range(0,len(Top_neighbours),1):
    print(Top_neighbours[i])
print(" ")
print("Users similar to this user liked these products too:")
print(" ")
for i in range(0,len(recommended_list),1):
    print(recommended_list[i])

Enter the user name: P. Choudhury

Top users similar to this user are:

Tarishi Jain
Mandira Sharma
Bhabna Borah
Monalisa Nath
Nivedita Basumatary
Prapti parasar
Prerna Bhendarkar
Chandni brahma
Chinmayee Ray

Users similar to this user liked these products too:

Casual shirts
Jeans
Kurtis
Skirts

We can develop an app which will have records of all the users and on showing the top users we can easily click the user name and know more about that person and can even send connection request for more conversation. Of the whole project idea ,we have implemented the recommendation engine which plays an integral part in our project. 

**NOTE: We can only know about the top similar users and recommended items for a particular user if and only if we have that particular user's data on our database.**